<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.gym.dao.IGymDAO">
  	<resultMap id="gymResult" type="com.finalProject.gym.model.GymVO" >
	  	<result property="memId" column="memId"  />
	  	<result property="memName" column="memName"  />
	  	<result property="memNick" column="memNick"  />
  		<result property="memEmail" column="memEmail"  />
  		<result property="memHp" column="memHp"  />
  		<result property="memZipcode" column="memZipcode"  />
  		<result property="memAddress1" column="memAddress1"  />
  		<result property="memAddress2" column="memAddress2"  />
  		<result property="memImgNo" column="memImgNo"  />
  		<result property="pointX" column="pointX"  />
  		<result property="pointY" column="pointY"  />
  		<result property="gymNo" column="gymNo"  />
  		<result property="gymName" column="gymName"  />
  		<result property="gymHp" column="gymHp"  />
  		<result property="gymPrice" column="gymPrice"  />
  	</resultMap>
  	
  	<!--체육관관장 등록-->
  	<insert id="insertGym" parameterType="com.finalProject.gym.model.GymVO">
  		insert gym (memId, memPwd, memName, memNick, memEmail, memHp, memZipcode, memAddress1, memAddress2, memImgNo, pointX, pointY, gymNo, gymHp, gymName, gymPrice)
  		values(#{memId},#{memPwd},#{memName},#{memNick},#{memEmail},#{memHp},#{memZipcode},#{memAddress1},#{memAddress2},#{memImgNo},#{pointX},#{pointY}, #{gymNo}, #{gymHp}, #{gymName}, #{gymPrice})
  	</insert>
  	
  	<!--체육관 번호 중복확인-->
  	<select id="gymNoChk" parameterType="String" resultType="String">
  		select gymNo from gym where gymNo = #{gymNo}
  	</select>
  	
  	<!--체육관 정보 가져오기-->
  	<select id="getGymData" parameterType="String" resultMap="gymResult">
  		select * from gym where memId = #{memId}
  	</select>
  	
  	<!--Id 중복확인-->
  	<select id="joinMemIdCheck" parameterType="String" resultType="String">
  		select memId from gym where memId = #{memId}
  	</select>
  	
  	<!--닉네임 중복확인-->
  	<select id="joinMemNickChk" parameterType="String" resultType="String">
  		select memNick from gym where memNick = #{memNick}
  	</select>
  	
  	<!--로그인-->
  	<select id="managerLogin" parameterType="String" resultMap="gymResult">
  		select memPwd, memNick, memEmail, memImgNo, gymNo from gym where memId = #{memId}
  	</select>
  	
  	<!--마이페이지 이미지 업데이트-->
  	<update id="updateMemImgNo" parameterType="String">
  		update gym set memImgNo=#{fileName} where memId = #{memId}
  	</update>
  	
  	<!--체육관 전체 리스트 출력-->
  	<select id="getAllGymPosition" resultMap="gymResult">
  		select memAddress1, pointX, pointY, gymNo, gymName, gymPrice, gymHp from gym
  	</select>
  	
  	<!--체육관 관원 등록 리스트 출력-->
  	<select id="getAllGymName" resultMap="gymResult">
  		select gymName from gym order by gymName
  	</select>
  	
  	<!--체육관 정보 출력-->
  	<select id="getGymDataByName" parameterType="String" resultMap="gymResult">
  		select memName, memHp, memAddress1, pointX, pointY, gymNo, gymHp from gym where gymName = #{gymName}
  	</select>
  	
  	<!--체육관 이름 검색 조회-->
  	<select id="gymNameSearch" parameterType="String" resultMap="gymResult">
  		select gymName from gym where REPLACE(gymName," ", "") LIKE CONCAT('%', #{searchWord}, '%')
  		order by gymName
  	</select>
  	
  	<!--체육관 이름 검색 조회-->
  	<select id="getGymPriceByGymName" parameterType="String" resultMap="gymResult">
  		SELECT gymPrice
  		FROM gym
  		WHERE gymName = #{gymName}
  	</select>
  	
  	<!--업주 계정인지 확인-->
  	<select id="getGymNo" parameterType="String" resultType="String">
  		SELECT gymNo
  		FROM gym
  		WHERE memId = #{memId}
  	</select>
  	
</mapper>